@model IEnumerable<BodyTracker.Models.StarterWeight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startweight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startbmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.targetweight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.height)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startweight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.startbmi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.targetweight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.height)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
